@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-display: swap;
}

:root {
  /* Neutral */
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Blue */
  --blue-600: hsl(214, 100%, 55%);
  --blue-400: hsl(210, 100%, 65%);

  /* Red */
  --red-500: hsl(354, 63%, 57%);

  /* Green */
  --green-500: hsl(140, 63%, 57%);

  /* Yellow */
  --yellow-400: hsl(49, 85%, 70%);

  font-family: 'Sora', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--neutral-900);
  color: var(--neutral-0);
}
